<!DOCTYPE html>
<html>
  <head>
    <title>WGT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="container">
		<% if user_signed_in? %>	  
			<%= render "layouts/header" %>
		<% end %>
		<% if notice.present? %>
			<aside class="alert alert-info">
				<%= notice %>
			</aside>
		<% end %>
		<% if alert.present? %>
			<aside class="alert alert-danger">
				<%= alert %>
			</aside>
		<% end %>
		<%= yield %>
	</div>
  </body>
</html>
